
/*Configuracion General */



body {
    margin: 0;
    padding: 30px;

    font-family: Arial, sans-serif;

    background-color: #f8f8f8;
    color: #333;
}


/* Contenedor Principal */

.contenedor {
    width: 100%;
    max-width: 900px;

    margin: 0 auto;
    padding: 30px;

    background-color: #ffffff;

    border-radius: 10px;

    border-bottom: 2px solid #303030;
}


/* Encabezado*/

.encabezado {
    display: flex;

    align-items: center;

    gap: 30px;

    padding-bottom: 25px;

    background-color: #ffffff;
    
    border-bottom: 2px solid #0600ac;
}


/* Foto */

.foto {
    width: 150px;
    height: 150px;

    object-fit: cover;

    border-radius: 50%;

    border: 3px solid #333;
}


/* Datos personales */

.datos-personales {
    flex: 1;
}

.datos-personales h1 {
    margin: 0 0 10px 0;

    font-size: 30px;
}

.datos-personales p {
    margin: 7px 0;
}


/* secciones */

.seccion {
    margin-top: 30px;
}

.seccion h2 {
    margin-bottom: 15px;

    padding-bottom: 8px;

    font-size: 22px;

    border-bottom: 2px solid #333;
}


/* Parrafos */

.seccion p {
    line-height: 1.6;
}


/* Listas */

ul {
    padding-left: 25px;
}

li {
    margin-bottom: 12px;

    line-height: 1.5;
}


/* Experiencia */

.experiencia {
    margin-bottom: 25px;
}

.experiencia h3 {
    margin-bottom: 8px;

    font-size: 18px;
}


/* Tabla */

.tabla-contenedor {
    width: 100%;

    overflow-x: auto;
}

table {
    width: 100%;

    border-collapse: collapse;

    margin-top: 15px;
}

th,
td {
    padding: 12px;

    border: 1px solid #cccccc;

    text-align: left;
}

th {
    background-color: #a5a5a5;
}
